.cardItem {
  padding: 16px;
  width: 250px;
  border: 1px solid #282c34;
  height: max-content;

  &:hover {
    border-color: #A6CE39;
  }
}

.img {
  width: 100%;
}

.header {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.favoriteIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
}

.color, article {
  display: flex;
}

.label {
  font-weight: 700;
  margin-right: 8px;
}

.priceWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  gap: 10px;
}

.price {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}