.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #282c34;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;

  &:hover,
  &ToHome:hover {
    color: #A6CE39;
  }

}

.pagesWrap {
  display: flex;
  gap: 40px;
}

.iconsWrap {
  display: flex;
  gap: 25px;
}

.logo{
  display: flex;
  align-items: center;

  &Img{
    width: 41px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  &Text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    &:hover {
      color: #A6CE39;
    }
  }
}

.cart {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;


  &Icon {
    height: 30px;
    width: 30px;
  }

  &Count {
    font-size: 24px;
    color: #A6CE39;
  }
}

.favorites {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;

  &Icon {
    height: 30px;
    width: 30px;
  }

  &Count {
    font-size: 24px;
    color: #A6CE39;
  }
}